.login-container {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.login-container::before {
    content: "";
    width: 25rem;
    aspect-ratio: 1;
    background: #4fb4fd;
    position: absolute;
    border-radius: 14% 86% 70% 30% / 15% 41% 59% 85%;
    bottom: -31%;
    left: -11%;
    z-index: -1;
}

.login-container::after {
    content: "";
    width: 10rem;
    aspect-ratio: 1;
    background: #4fb4fd;
    position: absolute;
    border-radius: 14% 86% 70% 30% / 15% 41% 59% 85%;
    bottom: 30%;
    right: -5%;
    z-index: -1;
}

.login {
    height: 100vh;
    width: 80%;
    margin-inline: auto;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.login-text {
    width: 40%;
    text-align: center;
}

.login-text input {
    width: 70%;
    height: 3rem;
    margin-top: 2rem;
    padding-inline: 10px;
    border-radius: 5px;
    border: none;
    outline: 2px solid #c0c0c0;
    min-width: 20rem;
}

.login-text button {
    width: 70%;
    height: 3rem;
    margin-top: 3rem;
    border-radius: 5px;
    color: white;
    border: none;
    min-width: 20rem;
    background: black;
    transition: all linear .2s;
    cursor: pointer;
}
.login-text button:hover{
    background: rgba(0, 0, 0, 0.78);
}
.red-outline input {
    outline: red 2px solid;
}

.login-img {
    position: relative;
    width: 60%;
}

.login-img img {
    margin-left: auto;
}

.login-img::before {
    content: "";
    width: 6rem;
    aspect-ratio: 1;
    background: #4fb4fd;
    position: absolute;
    border-radius: 14% 86% 70% 30% / 15% 41% 59% 85%;
    z-index: -1;
}

.login-text h1 {
    font-size: 2.5rem;
}

.form-field {
    position: relative;
}

.error-massage {
    position: absolute;
    width: 100%;
    font-size: 14px;
    color: red;
}

@media (max-width: 66rem) and (min-width: 57rem) {
    .login {
        width: 95%;
    }
}

@media (max-width: 57rem) {
    .login {
        flex-direction: column-reverse;
        gap: 0;
        padding-top: 2rem;
    }

    .login-text {
        width: 100%;
        height: 90%;
    }

    .login-img {
        width: 100%;
    }

    .login-img img {
        width: 18rem;
        height: 14rem;
        object-fit: cover;
        margin-inline: auto
    }
}

@media (max-width: 36rem) {
    .l-s {
        display: none;
    }

    .login {
        gap: 2rem;
    }

    .login-text {
        width: 100%;
        text-align: center;
    }

    .login-text input, .login-text button {
        width: 100%;
        min-width: auto;
    }
}